
<div id="form_container" class="panel panel-default col-md-8 col-md-offset-2">
  <div id="form_title_container" class="panel-heading">
    <h3 class="panel-title form_title">Create Question</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
