<p id="notice"><%= notice %></p>
<div class="row">
  <div id="index_table_container" class="panel panel-default col-md-6 col-md-offset-3">
    <!-- Default panel contents -->
    <div id="index_table_header" class="panel-heading">Your Questions</div>
    <!-- Table -->
    <table class="table">
      <tr>
        <th class="cell_width text_center">Title</th>
        <th class="cell_width text_center">Description</th>
        <th class="cell_width text_center">Actions</th>
      </tr>
      <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= truncate(question.description, :length => 50, :separator => ' ')%></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Question', new_question_path %>
