//SASS Variables for Slife App

//Authentication Layout
$bg-color-op: rgba(84, 52, 113, 0.8)
$auth-panel-bg: #EAEAEA
$auth-border-color: #666666
$auth-links-color: #7446cb
$auth-links-color-hv: #8956eb
$auth-btn-color: #9344ab
$auth-btn-color-hv: #2c9e65
$role-btn-color: #dbdbdb
$role-btn-selected-hv: #4286f4

//Index Layout
$purple-nav-bar: #5e3aa3
$index-table-header-color: #325996
$td-show-option: $index-table-header-color
$td-edit-option: $auth-btn-color-hv
$td-delete-option: #b21010
$td-results-option: #216f29
$border-td-color: #ddd
$status_complete: $auth-btn-color-hv
$status_incomplete: $td-delete-option
$status_inprogress: $purple-nav-bar

//CreateResource Partial
$create-resource-color: $auth-btn-color-hv
$cancel-resource-color: #a42727

//_form partial
$form-title-color: $index-table-header-color

//_drag partial
$list-bg-color: $auth-btn-color
$list-answer-bg-color: $auth-btn-color-hv
$li-border-color: $index-table-header-color
$submit-btn-color: $list-answer-bg-color
$feedback-wrong-color: #b51212
$feedback-right-color: #1c8922
$errors-hint-color: $feedback-wrong-color
$li-counter-color: #345c9e
