//SASS Variables for Slife App

//Authentication Layout
$bg-color-op: rgba(84, 52, 113, 0.8)
$auth-panel-bg: #EAEAEA
$auth-border-color: #666666
$auth-links-color: #7446cb
$auth-links-color-hv: #8956eb
$auth-btn-color: #9344ab
$auth-btn-color-hv: #2c9e65
$role-btn-color: #dbdbdb
$role-btn-selected-hv: #4286f4

//Index Layout
$purple-nav-bar: #5e3aa3
$index-table-header-color: #325996
$td-show-option: $index-table-header-color
$td-edit-option: $auth-btn-color-hv
$td-delete-option: #b21010
$border-td-color: #ddd

//CreateResource Partial
$create-resource-color: $auth-btn-color-hv
$cancel-resource-color: #a42727

//_form partial
$form_title_color: $index-table-header-color
